@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-colors duration-200;
}

.story-bg {
    background: #E6E6E6;
    opacity: 25%;
    z-index: 0;
}

.story-img {
    background-image: url('../public/AboutTSYP.jpg');
    background-size: cover;
    z-index: 0;
}